@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
    height: auto;
    /*    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';*/
}

header {
    display: flex;
    width: 95%;
    /*    max-width: 100%;*/
    flex-flow: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    height: 500px;
    /*    max-width: 100%;*/
    background-image: url("img/img1.jpg");
    background-color: #cccccc;
    background-position: top center;
    margin: 0.75rem;
    /*    border-radius: 10px 0px 0px 10px;*/
    border-radius: 10px;
    /*    background-size: cover;*/
}

header > h1 {
    display: flex;
    width: 95%;
    /*    max-width: 100%;*/
    margin: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
}

main {
    display: grid;
    grid-auto-flow: column;
    /*    grid-template: column;*/
    /*    grid-template-columns: 50% 50%;*/
    width: 100%;
    margin: auto;
    background-color: #f2f2f2;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

form > div.form-box {
    margin: 0.75rem;
    display: inline-grid;
    align-content: space-evenly;
    /*    grid-template: column;*/
    /*    float: left;*/
    /*    clear: none;*/
}

form {
    display: grid;
    grid-template: column;
    grid-template-columns: 50% 50%;
    width: 100%;
    align-content: space-evenly;
    padding: 1rem;
    border-radius: 5px;
    /*    padding: 20px;*/
}

/*
form {
    display: flex;
    flex-flow: column;
    padding: 1rem;
    align-content: space-evenly;
}
*/

/*
.form-box.check-in, .form-box.check-out {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%
}
*/

/** {box-sizing: border-box;}*/

/*
form {
    width: 100%;
    display: grid;
    grid-template: column;
    grid-template-columns: 50% 50%;
*/
/*    float:left;*/
/*    clear: left;*/
/*
    display: flex;
    flex-direction: row;
}
*/

/*
html img{
    height: 50%;
    width: 200px;
}
*/

label {
    font-weight: 1000;
    text-shadow: -0.5px -0.5px white;
}

input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    /*    background-color: cadetblue;*/
    margin: 0 0 0 5px;
    display: inline-block;
    border: 0.5px solid black;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px cadetblue;
}

input:focus {
    border: 3px solid #555;
}

button {
    /*    display: inline-block;*/
    border-color: #28a745 font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

input.price#min::after {
    content: "$"attr(data-price);
    display: block;
    margin-top: -1.5rem;
}

input.price#max::after {
    content: "$"attr(data-price);
    display: block;
    margin-top: -1.5rem;
    /*    margin-left: 8rem;*/
}

@media only screen and (min-width: 500px) {
    main {
        display: grid;
        /*        background-color: aqua;*/
        grid-auto-flow: column;
        width: 95%;
        margin-top: 10vh;
    }
}

@media only screen and (max-width: 800px) {
    main {
        margin: 0.75rem;
        background-color: cornsilk;
        display: grid;
        grid-auto-flow: row;
        width: 95%;
        box-shadow: 7px -7px 5px #aaaaaa;
    }

    header > h1 {
        margin: 0.5rem;
    }
}

@media only screen and (max-width: 500px) {
    main {
        background-color: #cccccc;
        margin: 0.5rem;
        display: grid;
        grid-auto-flow: row;
        width: 95%;
        box-shadow: 5px -5px 5px #aaaaaa;
    }

    header {
        width: 95%;
        margin: 0.5rem;
    }

    header > h1 {
        margin: 0.3rem;
    }

    form > div.form-box {
        margin: 0.5rem;
        display: grid;
        grid-template: column;
        align-content: space-evenly;
    }

    form {
        width: 100%;
        display: grid;
        grid-template: column;
        grid-template-columns: 100%;
        align-content: space-evenly;
        padding: 0.5rem;
    }

    button,
    input,
    header,
    h1 > span {
        width: 95%;
    }


}
